<!DOCTYPE html>
<HTML>
<HEAD>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<META charset="UTF=8">
	<TITLE>Prediccion Demanda Bicicletas</TITLE>
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></SCRIPT>
	<SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></SCRIPT>
	<STYLE>
		.btn-circle.btn-xl {
		    width: 70px;
		    height: 70px;
		    padding: 10px 2px;
		    border-radius: 35px;
		    font-size: 17px;
		    line-height: 1.33;
		}
	</STYLE> 
</HEAD>
<BODY>
<DIV class="container">
	<TABLE border=0 cellpadding="1">
		<TR>
	        <td colspan="3"  style="background-color:silver;"><div align="center"><H1><font color="black">Prediccion Demanda Bicicletas<BR>Selecciona</font></H1></div></td>
	    </TR>
		<TR>
			<TD>
				<table border =1>
				<TR>
					<TD valign="bottom"></TD>	 
							 
					<TD>
						<table align=center  cellpadding=5 border=0>
							<TR><TD align=center>
			 
							<button type="button" onclick="calcular_demanda(this)" id="primavera" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check">Primavera</i></button>
							<button type="button" onclick="calcular_demanda(this)" id="verano" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-check">Verano</i></button>
							<button type="button" onclick="calcular_demanda(this)" id="otoño" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-check">Otoño</i></button>
							<button type="button" onclick="calcular_demanda(this)" id="invierno" class="btn btn-secondary btn-circle btn-xl"><i class="fa fa-check">Invierno</i></button>
			 
						</TD></TR></table>
					</TD>
					<TD valign="bottom"></TD>
				</TR>
				<TR align=center>
					<TD >			
							<table cellpadding=5 border=0>
								<TR><TD></TD></TR>
								<TR><TD><button type="button" onclick="calcular_demanda(this)" id="laboral" class="btn btn-secondary btn-circle btn-xl"><i class="fa fa-check">Laboral</i></button></TD></TR>
								<TR><TD><button type="button" onclick="calcular_demanda(this)" id="fiesta" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-check">Fiesta</i></button></TD></TR>
								<TR><TD><button type="button" class="btn btn btn-circle btn-xl"></button></TD></TR>
								<TR><TD><button type="button" onclick="calcular_demanda(this)" id="reset" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-check">Reset</i></button></TD></TR>
							</table>

						</TD>
						<TD>
							<img src="../static/images/una.png" alt="Bicicleta" id="imagen_n_bicis"
				              style='padding:1px; border:0px solid #021a40; width: 500px; height:500px;'>
				              <BR>
				              <font size="4" color="blue" id="query">Listo</font>
				          </TD>
				             
				          <TD>
				              	
				           <table cellpadding=5 border=0>
								 <TR><TD> </TD>
				          		</TR>
				              
								<TR> 
									<TD><button type="button" onclick="calcular_demanda(this)" id="time_8" class="btn btn-secondary btn-circle btn-xl"><i class="fa fa-check">8 a.m</i></button>
									</TD>
								</TR>
								<TR> 
									<TD><button type="button" onclick="calcular_demanda(this)" id="time_12" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-check">12 p.m</i></button></TD>
								</TR>
								<TR>
									<TD><button type="button" onclick="calcular_demanda(this)" id="time_18" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-check">18 p.m</i></button></TD>
								</TR>
								<TR>
									<TD><button type="button" onclick="calcular_demanda(this)" id="time_23" class="btn btn-dark btn-circle btn-xl"><i class="fa fa-check">23 p.m</i></button></TD>
								</TR>
						</table>

				    </TD>
				</TR>
				<TR>
					<TD align=center></TD>
					<TD>
						<table align=center  cellpadding=5 border=0>
							<TR><TD align=center>

					      		<button type="button" onclick="calcular_demanda(this)" id="temp_0" class="btn btn-dark btn-circle btn-xl"><i class="fa fa-check">0&#8451;</i></button>
								<button type="button" onclick="calcular_demanda(this)" id="temp_10" class="btn btn-success btn-circle btn-xl"><i class="fa fa-check">10&#8451;</i></button>
								<button type="button" onclick="calcular_demanda(this)" id="temp_20" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check">20&#8451;</i></button>
								<button type="button" onclick="calcular_demanda(this)" id="temp_30" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-check">30&#8451;</i></button>
							</TD>
						</TR>
						</table>
					</TD>
						<TD align='right'></TD>
				</TR>
				</table>
			</TD>
		</TR>
	</table>

</DIV>
</BODY>

<SCRIPT>
	// input_data
	var HOLIDAY = {{holiday}}   	// si es dia de fiesta o no
	var HOUR = {{hr}}       		// hora (de 0 a 23)
	var YEAR = {{yr}} 
	var	HUM = {{hum}} 
	var TEMP = {{temp}}      		// temperatura en grados centigrados (-8 to +39)
	var ATEMP = {{atemp}} 
	var	WINDSPEED = {{windspeed}} 
	var SEASON_1 = {{season_1}}  	// 1:primavera
	var SEASON_2 ={{season_2}}  	// 2:verano
	var SEASON_3 = {{season_3}}  	// 3:otoño
	var SEASON_4 = {{season_4}}  	// 4:invierno
	var	WEATHERSIT_1 = {{weathersit_1}}
	var	WEATHERSIT_2 = {{weathersit_2}}
	var	WEATHERSIT_3 = {{weathersit_3}}
	var	WEATHERSIT_4 = {{weathersit_4}}
	var	WEEKDAY_1 = {{weekday_1}}
	var	WEEKDAY_2 = {{weekday_2}}
	var	WEEKDAY_3 = {{weekday_3}}
	var	WEEKDAY_4 = {{weekday_4}}
	var	WEEKDAY_5 = {{weekday_5}}
	var	WEEKDAY_6 = {{weekday_6}}
	var	WEEKDAY_0 = {{weekday_0}}
	var	HR1 = {{sum_hr_1}}
	var	HR2 = {{sum_hr_2}}

	
	
	// coeficientes
	var INTERCEPT = {{coef_intercept}}      // ordenada en el origen
	var COEF_HOLIDAY = {{coef_holiday}}   	// coef fiesta
	var COEF_HOUR = {{coef_hr}}         	// coef hora
	var COEF_YEAR = {{coef_yr}} 
	var	COEF_HUM = {{coef_hum}}  
	var	COEF_TEMP = {{coef_temp}} 
	var	COEF_ATEMP = {{coef_atemp}} 
	var	COEF_WINDSPEED = {{coef_windspeed}} 
	var COEF_SEASON_1 = {{coef_season_1}}   // coef primavera
	var COEF_SEASON_2 = {{coef_season_2}}   // coef verano
	var COEF_SEASON_3 = {{coef_season_3}}  	// coef otoño
	var COEF_SEASON_4 = {{coef_season_4}}   // coef invierno
	var COEF_WEATHERSIT_1 = {{coef_weathersit_1}}
	var	COEF_WEATHERSIT_2 = {{coef_weathersit_2}}
	var	COEF_WEATHERSIT_3 = {{coef_weathersit_3}}
	var	COEF_WEATHERSIT_4 = {{coef_weathersit_4}}
	var	COEF_WEEKDAY_1 = {{coef_weekday_1}}
	var	COEF_WEEKDAY_2 = {{coef_weekday_2}}
	var	COEF_WEEKDAY_3 = {{coef_weekday_3}}
	var	COEF_WEEKDAY_4 = {{coef_weekday_4}}
	var	COEF_WEEKDAY_5 = {{coef_weekday_5}}
	var	COEF_WEEKDAY_6 = {{coef_weekday_6}}
	var	COEF_WEEKDAY_0 = {{coef_weekday_0}}
	var	COEF_HR1 = {{coef_sum_hr_1}}
	var	COEF_HR2 = {{coef_sum_hr_2}}
	
	
	

	var season = 'Otoño' 		// texto por defecto
	var temp = '15c'
	var holiday = 'Laboral'
	var hour = '11am'



	function calcular_demanda(elem) {
		var output = 'Listo';

		// se aplican los nuevos valores
		if (elem.id == 'reset') {
			// resetea a por defecto, 
			HOLIDAY = {{holiday}}   
			HOUR = {{hr}} 
			YEAR = {{yr}} 
			HUM = {{hum}}  
			TEMP = {{temp}} 
			ATEMP = {{atemp}} 
			WINDSPEED = {{windspeed}}       
			SEASON_1 = {{season_1}}
			SEASON_2 = {{season_2}}
			SEASON_3 = {{season_3}} 
			SEASON_4 = {{season_4}}
			WEATHERSIT_1 = {{weathersit_1}}
			WEATHERSIT_2 = {{weathersit_2}}
			WEATHERSIT_3 = {{weathersit_3}}
			WEATHERSIT_4 = {{weathersit_4}}
			WEEKDAY_1 = {{weekday_1}}
			WEEKDAY_2 = {{weekday_2}}
			WEEKDAY_3 = {{weekday_3}}
			WEEKDAY_4 = {{weekday_4}}
			WEEKDAY_5 = {{weekday_5}}
			WEEKDAY_6 = {{weekday_6}}
			WEEKDAY_0 = {{weekday_0}}
			HR1 = {{sum_hr_1}}
			HR2 = {{sum_hr_2}}
			
			
			
			
			INTERCEPT = {{coef_intercept}}
			COEF_HOLIDAY = {{coef_holiday}}    
			COEF_HOUR = {{coef_hr}}     
			COEF_YEAR = {{coef_yr}} 
			COEF_HUM = {{coef_hum}}  
			COEF_TEMP = {{coef_temp}} 
			COEF_ATEMP = {{coef_atemp}} 
			COEF_WINDSPEED = {{coef_windspeed}}      
			COEF_SEASON_1 = {{coef_season_1}}  
			COEF_SEASON_2 = {{coef_season_2}} 
			COEF_SEASON_3 = {{coef_season_3}} 
			COEF_SEASON_4 = {{coef_season_4}} 
			COEF_WEATHERSIT_1 = {{coef_weathersit_1}}
			COEF_WEATHERSIT_2 = {{coef_weathersit_2}}
			COEF_WEATHERSIT_3 = {{coef_weathersit_3}}
			COEF_WEATHERSIT_4 = {{coef_weathersit_4}}
			COEF_WEEKDAY_1 = {{coef_weekday_1}}
			COEF_WEEKDAY_2 = {{coef_weekday_2}}
			COEF_WEEKDAY_3 = {{coef_weekday_3}}
			COEF_WEEKDAY_4 = {{coef_weekday_4}}
			COEF_WEEKDAY_5 = {{coef_weekday_5}}
			COEF_WEEKDAY_6 = {{coef_weekday_6}}
			COEF_WEEKDAY_0 = {{coef_weekday_0}}
			COEF_HR1 = {{coef_sum_hr_1}}
			COEF_HR2 = {{coef_sum_hr_2}}
			


			season = 'Otoño'
			temp = '15c'
			holiday = 'Laboral'
			hour = '11am'
			bike_out = 'static/images/cero.png'




		} else {
			// y el aplica esos nuevos valores
			if (elem.id == 'temp_0') {
				TEMP = 0.1
				temp = '0c'
			} else if (elem.id == 'temp_10') {
				TEMP = 0.4
				temp = '10c'
			} else if (elem.id == 'temp_20') {
				TEMP =	0.7
				temp = '20c'
			} else if (elem.id == 'temp_30') {
				TEMP = 0.9
				temp = '30c'
			} else if (elem.id == 'time_8') {
				HOUR = 8
				hour = '8am'
			} else if (elem.id == 'time_12') {
				HOUR = 12
				hour = '12pm'
			} else if (elem.id == 'time_18') {
				HOUR = 18
				hour = '18pm'
			} else if (elem.id == 'time_23') {
				HOUR = 23
				hour = '23pm'
			} else if (elem.id == 'laboral') {
				HOLIDAY = 0
				holiday = 'Laboral'
			} else if (elem.id == 'fiesta') {
				HOLIDAY = 1
				holiday = 'Fiesta'
			} else if (elem.id == 'primavera') {
				SEASON_1 = 1
				SEASON_2 = 0
				SEASON_3 = 0
				SEASON_4 = 0
				season = 'Primavera'
			} else if (elem.id == 'verano') {
				SEASON_1 = 0
				SEASON_2 = 1
				SEASON_3 = 0
				SEASON_4 = 0
				season = 'Verano'
			} else if (elem.id == 'otoño') {
				SEASON_1 = 0
				SEASON_2 = 0
				SEASON_3 = 1
				SEASON_4 = 0
				season = 'Otoño'
			} else if (elem.id == 'invierno') {
				SEASON_1 = 0
				SEASON_2 = 0
				SEASON_3 = 0
				SEASON_4 = 1
				season = 'Invierno'
			}  

			// recalcula la regresion
			y_pred = INTERCEPT 
			+ (HOLIDAY * COEF_HOLIDAY)  
		    + (HOUR * COEF_HOUR)  
		    + (YEAR * COEF_YEAR)
			+ (HUM * COEF_HUM) 
			+ (TEMP * COEF_TEMP)
			+ (ATEMP * COEF_ATEMP) 
			+ (WINDSPEED * COEF_WINDSPEED)
		    + (TEMP * COEF_TEMP)
		    + (SEASON_1 * COEF_SEASON_1)  
		    + (SEASON_2 * COEF_SEASON_2)  
		    + (SEASON_3 * COEF_SEASON_3)  
		    + (SEASON_4 * COEF_SEASON_4)  
		    + (WEATHERSIT_1 * COEF_WEATHERSIT_1)
			+ (WEATHERSIT_2 * COEF_WEATHERSIT_2)
			+ (WEATHERSIT_3 * COEF_WEATHERSIT_3)
			+ (WEATHERSIT_4 * COEF_WEATHERSIT_4) 
			+ (WEEKDAY_1 * COEF_WEEKDAY_1)
			+ (WEEKDAY_2 * COEF_WEEKDAY_2)
			+ (WEEKDAY_3 * COEF_WEEKDAY_3)
			+ (WEEKDAY_4 * COEF_WEEKDAY_4)
			+ (WEEKDAY_5 * COEF_WEEKDAY_5)
			+ (WEEKDAY_6 * COEF_WEEKDAY_6)
			+ (WEEKDAY_0 * COEF_WEEKDAY_0) 
			+ (HR1 * COEF_HR1)
			+ (HR2 * COEF_HR2)
		    

			// imagenes
			imagen_n_bicis = 'static/images/dieciseis.png'
			
		    if (y_pred < 0) {
		    	y_pred = 0
		    	imagen_n_bicis  = 'static/images/cero.png'
		    	
		    } else if (y_pred < 100) {
		    	imagen_n_bicis  = 'static/images/una.png'
		    	
		    } else if (y_pred < 200) {
		    	imagen_n_bicis = 'static/images/cuatro.png'
		    	
		    } else if (y_pred < 300) {
		    	imagen_n_bicis  = 'static/images/nueve.png'}

			// string de salida
			salida = season + ', es ' + holiday + '. Temp:' + temp + '. Hora:' + hour + '. Prediccion:' + Math.round(y_pred) + ' bicis';
		}
		// nuevos valores sobre el HTML
	    document.getElementById("query").innerHTML = salida;
	    document.getElementById('imagen_n_bicis').src = imagen_n_bicis
  
	}
</SCRIPT>
</HTML>
